#img_container{
    border: 3px solid black;
    border-radius: 20px;
    justify-self: center;
    min-height: 250px;
    display: grid;
    width: 350px;
    background-color: rgb(44, 65, 76);
    margin-bottom: 20px;
    margin-top: 20px;
}

#img_container img {
    
    border-radius: 20px;
    border: 3px solid black;
    align-self: center;
    justify-self: center;
    max-width: 300px;
    max-height: 200px;
    /* width: 90%; */
    height: 90%;
    background-color: rgb(0, 0, 0);
}

#dogBtn {
    height: 40px;
    justify-self: center;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#dogBtn:active {
    scale: 1.1;
}