.ul_links a {
    color: black;
    background-color: 
    #F5E3E6;
}

h2 {
    font-size: 2rem;
}


.ra_logo{
    width: 3em;
}


.searchfield {
    background:linear-gradient(#D9E4F5,
    #F5E3E6);
    display: grid;
    grid-template-columns:1fr;
    align-content: center;
    justify-items: center;
    
}


.shortcut_p {
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: 20px;
}

.command_boxes {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0;
    margin: 0;
    gap: 40px;
    justify-content: center;
    
}

.command_boxes li {
    width: 80%;
    height: 100%;
    background: radial-gradient(#FFFFFF,#D7E1EC);
    border-color: #d7e1ec4f;
    text-align: left;
    border-style: solid;
    border-radius: 10px;
    display: grid;
    gap: 10px;
}


.command_boxes p {
    height: auto;
    margin: 3px;
    border: white;
    border-radius: 1px;
    border-style: solid;
    background-color: #D7E1EC;
}

@media only screen and (min-width: 700px) {

    h2 {
        font-size: 3rem;
    }

    .command_boxes {
        grid-template-columns: 1fr 1fr;
        padding-right: 10%;
        padding-left: 10%;

    }

    .ra_logo{
        width: 4em;
    }
}

@media only screen and (min-width: 992px) {

    h2 {
        font-size: 4rem;
    }


    .command_boxes {
        grid-template-columns: 1fr 1fr;
        padding-right: 10%;
        padding-left: 10%;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
}