#weather_App_div {
    display: grid;
    height: 500px;
    align-content: center;
}


#weatherApp_container {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.233);
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
    border-radius: 10px;
    justify-self: center;
    background-color: rgb(150, 172, 137 , 0.5);
    height: 450px;
    width: 230px;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
}

#TitleDiv {
    display: grid;
    align-items: center;
}

#weatherApp_container h4 {
    font-size: 1.5rem;
    text-align: center;
}

.searchDiv {
    display:grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
}

#weather_input {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.233);
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 0.25rem;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    font-size: 1rem;
}

#weather_input:hover {
    border: 1px solid rgb(0, 0, 0);
}

#weather_btn {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.233);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background-color: rgb(66, 66, 66);
    width: 80px;
    height: 40px;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}
#weather_btn:hover {
    background-color: rgb(48, 48, 48);
}

#weatherContent {
    background-color: rgba(255, 255, 255, 0.699);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.233);
    height: 250px;
    width: 90%;
    display: grid;
    justify-self: center;
    justify-items: center;
    gap: 0px;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr 4fr;
}

#tempDiv {
    font-size: 2rem;
    padding-top: 20px;
    justify-self: center;
    text-align: center;
}
#temp {
    font-size: 2rem;
}


#conditionDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    gap:0;
    padding-bottom: 10px;
}



#weatherCondition {
    align-self: center;
    font-size: 1.3rem;
}

#weatherImage_container {
    display: grid;
    justify-content: center;
    align-self: center;
}
#img {
    width: 20px;
    justify-self: center;
}

#weatherContent h3 {
    height: 30px;
    align-self: start;
    width: 100%;
    background-color: rgb(150, 172, 137 , 0.6);
    padding-top: 5px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px 10px 0 0;
}

#weatherData {
    width: 100%;
    display: grid;
    justify-items: center;
    margin-bottom: 10px;
}

#lastDiv {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
}
